# Kopio tämä tiedosto projektin juureen nimellä .env ja muokkaa arvot sopiviksi

# Kehitysmode: MODE=DEV. Tällöin skipataan autentikointi eikä yritetä lähetellä Slackiin mitään
MODE=DEV

# Cookiet, secure-attribuutti. Aseta true:ksi, jos kutsut palvelua SSL:n yli
SECURE=false

# Jos DEV-mode käytössä, käytä tätä nimeä puraisurapsoissa
DEV_PURAISIJA=puraisija

# Slackin CLIENT_ID, semi-salainen id
#AUTH_CLIENT_ID=

# Slackin CLIENT_SECRET, hyshys-salainen arvo
#AUTH_CLIENT_SECRET=

# OAuth:in redirect-osoite
#AUTH_REDIRECT_URL=http://localhost:5000/auth/redirect

# Sovelluksen portti
PORT=5000

# Tietokannan URL
DATABASE_URL=postgres://user:password@host:port/database

# KanavaID, jonne puraisurapsat lähetetään, oletuksena #hiekkalaatikko (C02NAQFDM)
#PURAISUT_CHANNEL_ID=C02NAQFDM