<!DOCTYPE html>
<html lang="en">
<head>
    <script type="application/javascript">
        window.opener && window.opener.postMessage("<%= sid %>", "*");
    </script>
</head>
<body>
nothing to see here
</body>