<div class="fail">
    <h1>V*tuiks män!</h1>
    <div><strong><%= reason %></strong></div>
    <div>
        <a class="btn btn-primary" href="/" role="button">Kokeile uudestaan?</a>
    </div>
</div>
