<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Virhesivu</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css">
</head>
<body>
<div class="jumbotron text-xs-center">
    <h1 class="display-3">V*tuiks män!</h1>
    <p class="lead"><strong><%= reason %></strong></p>
    <p class="lead">
        <a class="btn btn-primary btn-sm" href="/" role="button">Kokeile uudestaan?</a>
    </p>
</div>
</body>
</html>