<form id="contact" method="post" action="/submit-data">
    <fieldset>
        <div>
            <b>Millanen puraisu?</b><br/>
            <input type="radio" name="type" value="Ep" checked> Ensi
            <input type="radio" name="type" value="Vp"> Väli
            <input type="radio" name="type" value="Lp"> Loppu
            <input type="radio" name="type" value="Mp"> Muu
        </div>
    </fieldset>

    <!--
    <secretario 12.1.2018>
    Tähän kohtaan näytetään hakumahdollisuus kantaan jos edellä valittu "muu" vaihtoehdoksi.
    3-4 merkkiä vaadittava ennen kuin liipaistaan haku puraisu-content tms. tauluun.
    -->

    <fieldset>
        <input placeholder="Mitäs ajattelit puraista?" type="text" name="content">
    </fieldset>

    <fieldset>
        <div>
            <b>Missäs puraisee?</b><br/>
            <input type="radio" name="location" value="koti" checked> Kotona
            <input type="radio" name="location" value="tyo"> Röissä
            <input type="radio" name="location" value="baari"> Paarissa
            <input type="radio" name="location" value="muu"> Muualla
        </div>
    </fieldset>
    <fieldset>
        <div>
            <b>Haluatko lisätä jotain selitykseksi?</b>
            <textarea placeholder="Lorem ipsum sit dolor amet..." name="info"></textarea>
        </div>
    </fieldset>
    <fieldset>
        <button type="submit" class="btn btn-success">Puraise!</button>
    </fieldset>
</form>
