<form id="contact" method="post" action="/submit-data">
    <fieldset>
        <div>
            <b>Millanen puraisu?</b><br/>
            <input type="radio" onclick="javascript:yesnoCheck();" id="noCheck" name="type" value="Ep" checked> Ensi
            <input type="radio" onclick="javascript:yesnoCheck();" id="noCheck" name="type" value="Vp"> Väli
            <input type="radio" onclick="javascript:yesnoCheck();" id="noCheck" name="type" value="Lp"> Loppu
            <input type="radio" onclick="javascript:yesnoCheck();" id="yesCheck" name="type" value="Mp"> Muu
            <div id="ifYes" style="visibility:hidden">
            <input class="col-6 form-control" type="text" id="yes" name="typecustom" placeholder="Millanen muu?">
            </div>
</div>

    </fieldset>

    <!--
    <secretario 12.1.2018>
    Tähän kohtaan näytetään hakumahdollisuus kantaan jos edellä valittu "muu" vaihtoehdoksi.
    3-4 merkkiä vaadittava ennen kuin liipaistaan haku puraisu-content tms. tauluun.
    -->

    <fieldset>
        <input class="col-6 form-control" placeholder="Mitäs ajattelit puraista?" type="text" name="content">
    </fieldset>

    <fieldset>
        <div>
            <b>Missäs puraisee?</b><br/>
            <input type="radio" name="location" value="koti" checked> Koti
            <input type="radio" name="location" value="tyo"> Ryö
            <input type="radio" name="location" value="baari"> Paari
            <input type="radio" name="location" value="muu"> Muu
        </div>
    </fieldset>
    <fieldset>
        <div>
            <b>Haluatko lisätä jotain puolustukseksi?</b><br/>
            <textarea class="col-6 form-control" placeholder="Lorem ipsum..." name="info"></textarea>
        </div>
    </fieldset>
    <fieldset>
        <button type="submit" class="btn btn-success">Puraise!</button>
    </fieldset>
</form>
