<form id="puraisu-form" method="post" action="/submit-data">
    <input type="hidden" name="coordinates" id="coordinates"/>
    <fieldset class="form-group row">
        <legend class="col-form-legend col">Millanen puraisu?</legend>

        <div class="col">
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input type-input" name="type" value="ep" checked> Ensi
                </label>
            </div>

            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input type-input" name="type" value="vp"> Väli
                </label>
            </div>

            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input type-input" name="type" value="lp"> Loppu
                </label>
            </div>

            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input type-input" name="type" id="customtype"> Muu
                </label>
            </div>
        </div>

        <div class="col">
            <input class="form-control" type="text" id="customtype-input" placeholder="Millanen muu?" maxlength="64">
        </div>

        <div class="col">
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" name="postfestum"> Postfestum
                </label>
            </div>
        </div>
    </fieldset>

    <!--
    <secretario 12.1.2018>
    Tähän kohtaan näytetään hakumahdollisuus kantaan jos edellä valittu "muu" vaihtoehdoksi.
    3-4 merkkiä vaadittava ennen kuin liipaistaan haku puraisu-content tms. tauluun.
    -->
    <fieldset class="form-group row">
        <div class="col">
            <label for="content">Puraisun kohde</label>
            <input class="form-control" placeholder="Mitäs ajattelit puraista?"
                   type="text" id="content" name="content">
        </div>
    </fieldset>

    <fieldset class="form-group row">
        <legend class="col-form-legend col-12">Missäs puraisee? <i id="accuracy"
                    class="fa fa-compass fa-spin" title="ei paikkatietoja"></i>
        </legend>

        <div class="col-12">
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input location-input" name="location" value="koti" checked> Koti
                </label>
            </div>

            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input location-input" name="location" value="tyo"> Ryö
                </label>
            </div>

            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input location-input" name="location" value="baari"> Paari
                </label>
            </div>

            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input location-input" name="location" id="customlocation"> Muu
                </label>
            </div>
        </div>

        <div class="col">
            <input class="form-control" type="text" id="customlocation-input" placeholder="Missäs sitten?">
        </div>
    </fieldset>

    <fieldset class="form-group row">
        <div class="col">
            <label for="info">Haluatko lisätä jotain puolustukseksi?</label>
            <textarea class="form-control" placeholder="Lorem ipsum..." id="info" name="info"></textarea>
        </div>
    </fieldset>
    
    <fieldset class="form-group row">
        <div class="col">
            <button type="submit" class="btn btn-success">Puraise!</button>
        </div>
    </fieldset>
</form>
