<div class="login">
    <h1>Tervetuloa!</h1>
    <h2>Ja eikun puraisemaan!</h2>
    <div class="disclaimer">kunhan annat ensiksi Slackille oikeudet pankkitiliisi ja perikuntaasi</div>
    <a href="https://slack.com/oauth/authorize?scope=<%= scopes %>&client_id=<%= clientId %>&state=<%= state %>&redirect_uri=<%= redirectUrl %>">
        <img src="https://platform.slack-edge.com/img/sign_in_with_slack.png"
             srcset="https://platform.slack-edge.com/img/sign_in_with_slack.png 1x, https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x"/>
    </a>
</div>
