<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Kirjaudu pikapuraisimeen</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css">
</head>
<body>
<div class="jumbotron text-xs-center">
    <h1 class="display-3">Tervetuloa!</h1>
    <p class="lead"><strong>Ja eikun puraisemaan!</strong><br/>
        <span style="font-size: x-small">kunhan annat ensiksi Slackille oikeudet pankkitiliisi ja perikuntaasi</span><br/>
        <a href="https://slack.com/oauth/authorize?scope=<%= scopes %>&client_id=<%= clientId %>&state=<%= state %>&redirect_url=<%= redirectUrl %>">
            <img src="https://platform.slack-edge.com/img/sign_in_with_slack.png"
                 srcset="https://platform.slack-edge.com/img/sign_in_with_slack.png 1x, https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x"/>
        </a>
    </p>
</div>
</body>
</html>