<p class="col-12 mt-3 px-0">
    <i><%= type %></i> on aina hyvän tyyppinen puraisu! Puraisun sisällöksi raportoit: <b>"<%= content %>"</b>. Sehän sisältää etyylialkoholia (etanolia), joka on primäärisiin alkoholeihin kuuluva väritön, tulenarka ja antiseptinen neste. Jos raportoit juoneesi keskiketterää kevyempää, voit poistua Puraisimesta yksin tein.
</p>
<p class="col-12 mt-3 px-0">
    Lisäksi, Pikapuraisimen erehtymättömän algoritmin mukaan olet <strong>X promillen</strong> jurrissa antamiesi taustatietojen sekä tähän ränniin luettavan puraisuhistoriasi perusteella. Ja X promillea nyt tässä kohtaa ihan vain siksi, että ko. featurea ei ole vielä implementoitu saatikka implikoitu backlogille.<br/>
    <br/>
    Mutta hii-o soikooon, mitäs tässä jauhamaan enempiä, miten olisi
</p>
<fieldset>
    <a href="/" class="btn btn-success">Uusi puraisu?</a>
</fieldset>
