<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Pikapuraisin kiittää puraisusta!</title>
    <link rel="stylesheet" type="text/css" href="puraisin.css">
</head>

<body>
<% include ./partials/header.ejs %>

<div class="container">
        <h3>Pikapuraisin (BETA)</h3>
        <h4>Kiitämme nöyrimmin transaktiologin rikastuttamisesta!</h4>
        <fieldset>
            <a href="/">Uusi puraisu ehkäpä?</a>
        </fieldset>
    </form>
</div>
</body>
</html>