<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Pikapuraisin kiittää puraisusta!</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css">
</head>

<body>
<% include ./partials/header.ejs %>
<div class="jumbotron text-xs-center">
  <h1 class="display-3">Tattista!</h1>
  <p class="lead"><strong>Jopas puraisi taas riemukkaasti, </strong><br />
    mutta muistetaan vastuullinen alkoholinkäyttö,<br />
    eli ei muuta kuin lisää puraisemaan.</p>
  <hr>
  <p>
    Ongelmia? <a href="https://www.a-klinikka.fi/">Käväise A-klinikalla</a>
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-sm" href="/" role="button">Uusi puraisu?</a>
  </p>
</div>
</body>
</html>