<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>
    <script src="https://use.fontawesome.com/0a943e898b.js" async></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.14/moment-timezone-with-data.min.js" defer></script>
    <script type="application/javascript" src="puraisin.js" defer></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <!--script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script-->
    <link rel="stylesheet" type="text/css" href="puraisin.css">
</head>

<body>

<div class="container-fluid main-container">
    <div class="row justify-content-xs-center">
        <div class="main-content offset-lg-3 col-lg-6">

            <%if (loggedIn) { %>
                <%- include("heading.ejs") %>
            <% } %>
            
            <%- include(page + ".ejs") %>

            <div class="row">
                <div class="col">
                    &copy; Apin Heristäjät <%= new Date().getFullYear() %>
                </div>
            </div>
            
        </div>
    </div>
</div>
</body>
</html>